@media (max-width: 1015px) {
  body {
    height: 100%;
  }

  .navbar-collapse {
    top: 70px;
    width: 100%;
    background-color: white; 
    z-index: 1000;
    overflow-y: auto;
  }
  .navbar-nav {
  margin: 0;
  padding: 0;
}

  #mainNavbar {
    position: fixed;
    background-color: white;
  }

  .navbar-toggle {
    margin-top: 18px;
    margin-right: 10px;
  }
  .navbar-toggle .icon-bar {
    background-color: black;
  }

  .navbar-nav > li > div,
  .navbar-nav > li > div > a {
    color: black;
  }
  .top-banner {
    margin-top: 0;

  }
  .overlay {
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  .carousel-caption h1 {
    font-size: 28px;
  }
  .carousel-caption p {
    font-size: 14px;
    padding: 0;
  }
   .button {
    padding: 12px 25px;
    font-size: 14px;
  }
  #logo{
    src: url('images/logo.png');
  }
   .formContent {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .subscribeInput {
    width: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .subscribeButton {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1015px) {
  #mainNavbar .navbar-nav {
    flex-wrap: nowrap;
    display: flex;
  }

  #mainNavbar .navbar-nav > li {
    white-space: nowrap;
    padding: 0 5px;
  }
  #mainNavbar .navbar-nav > li > div {
    font-size: 13px;
    padding: 15px 10px;
  }
  .navbar-brand img {
    height: 30px;
  }
}